body {
    background-color: #F3F3F3;
}
#app {
    background-color: white;
}
.texto {
    color: #002857;
    font-size:20px;
}
.img-persona {
    width: 100px;
    height: 100px;
}
.fila-notificacion {
    height: 100px;
    margin-bottom: 15px;
}
.fila-notificacion {
    padding-left: 100px;
}
#txt-buscar {
    width: 80%;
}
#busqueda {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align:center;
}
.foto{
    display:inline-block;
}

.mensaje{
    display:inline-block;
}